services:
  weatherapi:
    image: ${DOCKER_REGISTRY-}weatherapi
    container_name: WeatherApi
    restart: unless-stopped
    build:
      context: .
      dockerfile: WeatherApi/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - SQLSERVER_SERVER=Server=host.docker.internal,1433;Database=Weather;User Id=sa;Password=P455w0r7!;TrustServerCertificate=true;
    ports:
      - "60080:8080" #HTTP
      - "60443:8081" #HTTPS
    depends_on:
      - db

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: MSSQLServer
    restart: unless-stopped
    environment:
      - MSSQL_PID=Express
      - ACCEPT_EULA=Y
      - SA_PASSWORD=P455w0r7!
    ports:
      - "1433:1433"
    healthcheck:
      test: CMD /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P MyPass@word90_ -Q "SELECT 1" || exit 1
      timeout: 20s
      retries: 10
      start_period: 10s
