.navbar {
  padding: 1rem;

  display: grid;
  grid-template-columns: min-content auto min-content;
}

.navbar .pages {
  grid-column: 3;

  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.navbar .hamburger {
  grid-column: 3;

  display: none;
}

@media (max-width: 600px) {
  .navbar .pages {
    display: none;
  }

  .navbar .hamburger {
    display: block;
  }
}